/**** Payment page CSS ****/

/**** Main content style rules ****/
/*#mainContent {
    padding:80px 0;
}*/
#userTable td {
    border:solid thin black;
    padding:10px;
}
.columnTitle {
    font-weight: bold;
}