/**** Login and Forgot Password page CSS ****/

/**** Main content style rules ****/
#mainContent {
    padding:80px 0;
}
#loginBox {
    background:url("../../img/loginBg.png") no-repeat center;
    height:325px;
    margin:0 auto;
    width:515px;
}
#loginForm, #forgotPassForm {
    margin:0 auto;
    padding-top:75px;
    width:225px;
}
#forgotPassForm + p {
    margin:15px auto 0;
    text-align:center;
    width:300px;
}
label {
    width:120px;
}
input {
    margin-bottom:5px;
    outline:none;
}
input[type="text"], [type="password"] {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    height:1.5em;
    outline:none;
    width:17em; /* Revise later: Password input field not as wide as email field in IE8? */
}
input[type="checkbox"] {
    cursor:pointer;
}
button {
    cursor:pointer;
    font-size:18px;
    margin:3px 0;
    outline:none;
}
li.centered {
    text-align:center;
}
li a:link, li a:visited, li a:hover {
    color:#FFF;
}
.errLabel {
    color:red;
    display:inline;
    font-size:.85em;
}
.textMsgBg {
    background:#8AB0BF;
    border:1px solid black;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    padding:4px;
}