config/config.php
mattsResume/
logs/
experiments/
public/js/jsLibraries/fullSize/
tours/123Test/img/
tours/123Test/imgLg/
tours/123Test/imgNonRatio/
tours/123Test/imgSm/
tours/123Test/imgOld/
tours/123Test/music/