#Redirect to https
RewriteEngine On
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.spiffyhometours.com/$1 [R=301,L]

# Use PHP 5.3
#AddType application/x-httpd-php53 .php

# Disable directory browsing
#Options -Indexes

#Rewrite rules *** Revise later: need to handle trailing slash issue to be able to use / instead of - in the urls for controllers and actions ***
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_\-]+)/?$ index.php?url=$1 [QSA,NC,L]
</IfModule>

#Disable hotlinking
#RewriteCond %{HTTP_REFERER} !^http://spiffyhometours.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://spiffyhometours.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.spiffyhometours.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.spiffyhometours.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://spiffyhometours.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://spiffyhometours.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.spiffyhometours.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.spiffyhometours.com$      [NC]
#RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# 4 Weeks
<FilesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=2419200, public"
</FilesMatch>

# 2 DAYS
<FilesMatch ".(xml|txt)$">
Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>
 
# 2 HOURS
<FilesMatch ".(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>

# Don't cache the JSON config file for the tours so it can be easily edited
<FilesMatch ".(json)$">
Header set Cache-Control "no-store"
</FilesMatch>