@font-face {
    font-family:GoudyBookletter1911_1;
    src:url("../fonts/GoudyBookletter1911_1.eot");
    src:local('☺'), url("../fonts/GoudyBookletter1911_1.woff") format("woff"), url("../fonts/GoudyBookletter1911_1.ttf") format("truetype");
}
nav p {
    color:#E4ECEF;
    font-family:GoudyBookletter1911_1;
    font-size:2.25em;
    padding-top:26px;
    text-align:center;
}
#alertMsg {
    background:white;
    border:1px solid red;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    margin:40px auto 50px;
    padding:6px;
    width:365px;
}
#alertMsg p {
    margin-left:37px;
    width:320px;
}
.alertGraphic {
    float:left;
}