/**** Main theme CSS addendum for IE 7 and 8. ****/

#tooOld {
    text-align:center; /* Aligns the too old browser message in old IE */
}

/**** Main content style rules ****/
#mainContent {
    margin:-65px auto 20px; /* Moves mainContent section up more to hide the top border */
    border:1px solid #000; /* Replaces drop shadow in good browsers */
}
a img {
    border:none; /* Removes borders on image links in IE */
}

/**** Contact page CSS ****/
*+html #leftCol { /* This is here keep the sending div from screwing up the page TOO much. IE7 doesn't support setAttribute */
    width:325px;
}

/**** Pricing page CSS ****/
#mainContent h1 {
    padding:6px 0 4px; /* Fixes text clipping */
}
*+html .planRow li {
    display:inline; /* Makes inline-block work in IE7 */
}

/**** Samples page CSS ****/
*+html .sampleRow li {
    display:inline; /* Makes inline-block work in IE7 */
}