/**** Under construction page CSS ****/
#notifyBox {
    background:url("../img/loginBg.png") no-repeat center;
    height:325px;
    margin:0 auto;
    width:515px;
}
form {
    margin:0 auto;
    padding-top:100px;
    width:350px;
}
form input {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:block;
    height:2em;
    margin:0 auto;
    outline:none;
    width:19em;
}
button {
    cursor:pointer;
    font-size:20px;
    margin-top:3px;
    outline:none;
}
.center {
    margin:0 auto;
    text-align:center;
}
.defaultText {
    color:#888;
}
.errLabel {
    color:red;
    display:inline;
    font-size:.85em;
}
#errorContainer {
    text-align:center;
}
.msgBox {
    background:#FFF;
    border:1px solid black;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow:5px 5px 3px #777;
    -webkit-box-shadow:5px 5px 3px #777;
    box-shadow:5px 5px 3px #777;
    margin:0 auto;
    padding:4px;
    width:550px;
}
#links{
    color:#FFF;
    font-size:1.25em;
    margin-top:30px;
    text-align:center;
}
#links a:link, #links a:visited, #links a:hover {
    color:#FFF;
}
#notifyThanksMsg {
    font-family:Junction, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:1.20em;
    line-height:1.5em;
    padding-top:145px;
    text-align:center;
}