/* Black theme for the tour application */

#tabMenu li {
    background:#3E3E3E url("../../img/tourApp/blackTabBg.jpg");
}
.bg60Pct { /* The button bar and img name background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F2F2F2F,endColorstr=#8F2F2F2F); /* For old IE */
    background-color:rgba(47, 47, 47, 0.60);
}
.bg85Pct { /* The alert and info msg background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E52F2F2F,endColorstr=#E52F2F2F); /* For old IE */
    background-color:rgba(47, 47, 47, 0.85);
}
.tourBg {
    background:#444 url("../../img/tourApp/blackTextureBg.jpg");
}

/* Tab colors from Theme class in AS3
Black bg active: #202020  non-active: #3E3E3E  hover: #484848
Blue bg active: #2D3B76  non-active: #4B5994  hover: #55639E
Green bg active: #1F400C  non-active: #3D5E2A  hover: #476834
Red bg active: #4A090E  non-active: #682736  hover: #723140
*/