/* Green theme for the tour application */

.tourBg {
    background:#00FF00 url("../../img/tourApp/greenTextureBg.jpg");
}
.sixtyPctBg { /* The button bar and img name background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F2E4F1B,endColorstr=#8F2E4F1B); /* For IE < 9 */
    background-color:rgba(46, 79, 27, 0.60);
}
.eightyFivePctBg { /* The alert msg background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E52E4F1B,endColorstr=#E52E4F1B); /* For IE < 9 */
    background-color:rgba(46, 79, 27, 0.85);
}