/* Red theme for the tour application */

.tourBg {
    background:#FF0000 url("../../img/tourApp/redTextureBg.jpg");
}
.sixtyPctBg { /* The button bar and img name background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F591827,endColorstr=#8F591827); /* For IE < 9 */
    background-color:rgba(89, 24, 39, 0.60);
}
.eightyFivePctBg { /* The alert msg background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5591827,endColorstr=#E5591827); /* For IE < 9 */
    background-color:rgba(89, 24, 39, 0.85);
}