/* Red theme for the tour application */
/* line 3, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\redTheme.scss */
#tabMenu li {
  background: #682736 url("../../img/tourApp/redTabBg.jpg"); }

/* line 6, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\redTheme.scss */
.bg60Pct {
  /* The button bar and img name background */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F591827,endColorstr=#8F591827);
  /* For old IE */
  background-color: rgba(89, 24, 39, 0.6); }

/* line 10, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\redTheme.scss */
.bg85Pct {
  /* The alert and info msg background */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5591827,endColorstr=#E5591827);
  /* For old IE */
  background-color: rgba(89, 24, 39, 0.85); }

/* line 14, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\redTheme.scss */
.tourBg {
  background: red url("../../img/tourApp/redTextureBg.jpg"); }

/* line 17, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\redTheme.scss */
.tabCalcBtn {
  background: red url("../../img/tourApp/redTabBg.jpg"); }
