/* Red theme for the tour application */

#viewport {
    background:#FF0000 url("../../img/tourApp/redTextureBg.jpg");
}
#imgName { /* The img name background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F591827,endColorstr=#8F591827); /* For IE < 9 */
    background-color:rgba(89, 24, 39, 0.60);
}
#btnBar { /* The button bar background */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F591827,endColorstr=#8F591827); /* For IE < 9 */
    background-color:rgba(89, 24, 39, 0.60);
}