/******* Main stylesheet for the virtual tour application *******/

/*************
Reset section
**************/
/* Zeros margin and padding so as to add where needed instead of using defaults */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
/* Sets HTML5 tags to block level elements for older browsers that don't support them */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
a {
    border:none;
    outline:none;
    text-decoration:none;
}
ol, ul {
    list-style:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* Keep parent containers from collapsing when they only contain floated elements */
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.clearfix { 
    zoom:1; 
}
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/*************
Basic theme, tour specific styles are added in the theme stylesheet
*************/
body {
    background-color:#444;
    font-family:Verdana, Arial, Times;
    line-height:1em;
}
#jsWarning {
    background-color:red;
    font-size:1.25em;
    font-weight:bold;
    line-height:1.5em;
    text-align:center;
}
.dropShadow {
    -moz-box-shadow:5px 5px 3px #111;
    -webkit-box-shadow:5px 5px 3px #111;
    box-shadow:5px 5px 3px #111;
}
.logoText {
    color:white;
    font-size:.75em;
}
.infoText {
    color:white;
    line-height:1.25em;
}
.btnBarText  {
    color:white;
    vertical-align:middle;
}
.btnBarBtn {
    font-size:.85em;
}
.btnBarLabel {
    margin-left:10px;
}
.topLeftBorder {
    border-top:1px solid white;
    border-left:1px solid white;
}
.fourFifthsOpacity {
    filter:alpha(opacity=80);
    opacity:0.80;
}
.twoThirdsOpacity {
    filter:alpha(opacity=66);
    opacity:0.66;
}
.displayNone {
    display:none;
}
.underline {
    text-decoration:underline;
}
.clickable {
    cursor:pointer;
}
#nextBtn:hover, #prevBtn:hover {
    filter:alpha(opacity=95);
    opacity:0.95;
}

/*************
Element Structure for full size screens *** Revise later: Add other media sizes, need to figure out how to recalculate the animation algorithms on resize event? ***
*************/

/*******
Main tour elements *** Remember: when putting in media queries, move all non changing properties to their own areas or classes so as not to repeat them in each media query ***
*******/
#viewport {
    height:730px;
    left:50%;
    margin:-365px 0 0 -525px; /* Center the tour on the page */
    overflow:hidden;
    position:absolute;
    top:50%;
    width:1050px;
}
#slideMenu {
    height:500px;
    overflow:hidden;
    position:absolute;
    left:835px;
    top:70px;
    width:200px;
}
#imgDisplay {
    height:500px;
    left:70px;
    line-height:500px;
    overflow:hidden;
    position:absolute;
    text-align:center;
    top:70px;
    width:750px;
}
#addressBox {
    background:url("../../img/tourApp/contactBoxBg.png");
    height:100px;
    left:70px;
    padding:7px 0 0 10px;
    position:absolute;
    top:600px;
    width:300px;
}
#contactBox {
    background:url("../../img/tourApp/addressBoxBg.png");
    height:100px;
    left:420px;
    padding:7px 10px 0 0;
    position:absolute;
    text-align:right;
    top:600px;
    width:400px;
}
#contactBox img { /* Agent's picture if there is one */
    float:left;
    height:92px;
    margin:-3px 0 0 4px; /* Negitive margin used to move the img back up because of the top padding on the contactBox */
}
#shtLogo {
    left:875px;
    position:absolute;
    top:615px;
}
#shtLogo p {
    margin-bottom:5px;
}
#prevBtn {
    left:875px;
    position:absolute;
    top:39px;
}
#nextBtn {
    left:875px;
    position:absolute;
    top:570px;
}
#imgName {
    height:26px;
    right:230px; /* This is set from the right because the ImgName obj's changing width would mess up positioning it from the left */
    line-height:26px;
    position:absolute;
    top:120px;
}
#imgName p {
    margin:0 5px;
}
#btnBar {
    height:26px;
    left:71px;
    line-height:26px;
    position:absolute;
    top:544px;
    width:749px; /* Shortend 1px to allow the imgDisplay's border to show  */
}
#btnBar p {
    display:inline;
}

/*******
Loading graphics
*******/
#loading div~div {
    right:0; /* Move the second mask div to the right side */
}
#loading img {
    left:50%;
    margin:-7px 0 0 -64px;
    position:absolute;
    top:50%;
    z-index:201;
}
.loadingMask {
    background-color:black;
    height:730px; /* Viewport height */
    position:absolute;
    width:525px; /* 1/2 of viewport width */
    z-index:200; /* Must be on top of everything else */
}

/*******
Slide menu
*******/
.slide {
    background-color:#333;
    border:2px solid white;
    height:100px;
    line-height:94px; /* This is so horizontal slides can use vertical-align */
    position:absolute;
    text-align:center;
    width:150px;
}
/* Types of slide imgs, h&w of the slide imgs equal the h&w of the slide minus the slide's borders */
.loadingSlide {
    text-align:center;
    vertical-align:middle;
}
.stdSlide {
    height:96px;
    width:146px;
}
.vertSlide {
    height:96px;
}
.horiSlide {
    vertical-align:middle; /* For this to work, parent must have line-height set */
    width:146px;
}

/*******
Img display, the classes are for resizing the tour imgs
*******/
#tourImgDiv {
    position:absolute;
}
.stdImg {
    width:900px; /* This needs to be 20% larger than the imgDisplay width so the img has room to tween */
}
.vertImg {
    width:750px; /* This needs to match the width of the imgDisplay */
}
.horiImg {
    height:500px; /* This needs to match the height of the imgDisplay */
}