/* line 24, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
body {
  background-color: #444;
  color: white;
  /* All text in the tour is white unless otherwise specified */
  font-family: 'open_sansregular', Verdana, Arial, sans;
  font-size: 100%; }

/* line 30, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#test {
  font-size: 20px; }
