// ======================== Main stylesheet for the virtual tour application =======================

// === Table of contents ===========================================================================
// Imports
// Reset
// Mixins
// Variables
// Fonts
// Base theme
// Shared styles
// Tour application
// Media queries
// =================================================================================================

// === Imports =====================================================================================

// **** add IE 8? use lt-ie8 class on html element in php file ****


// === Reset =======================================================================================
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.clearfix { 
  zoom: 1;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// === Mixins ======================================================================================
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $start), color-stop(1, $stop));
  background: -ms-linear-gradient(bottom, $start, $stop);
  background: -moz-linear-gradient(center bottom, $start 0%, $stop 100%);
  background: -o-linear-gradient($stop, $start);
}

@mixin opacity($value) {
  filter: alpha(opacity=$value); // IE support
  opacity: $value/100;
}


// === Fonts =======================================================================================
// Webfont: Open Sans Regular
@font-face {
    font-family: 'open_sansregular';
    src: url('../../fonts/OpenSans-Regular-webfont.eot');
    src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// === Variables ===================================================================================
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$body-bg: #444444;
$slide-bg: #333333;
$drop-shadow: #111111;
$open-sans-reg: 'open_sansregular', Verdana, Arial, sans;


// === Base theme ==================================================================================

// === Tag styles ===
a {
  border: none;
  color: $white;
  outline: none;
  text-decoration: none;
}
audio { // Because custom controls are used for the music and the audio element has a default height and width, audio's dimensions have to be set to 0 or it causes a layout bug on the iPad
  width: 0;
  height: 0;
}
body {
  background-color: $body-bg;
  color: $white;
  font-family: $open-sans-reg;
  font-size: 100%;
}

// === Shared styles ===============================================================================

// === Class styles ===
.clickable {
  cursor: pointer; // Some elements turn the cursor pointer on and off in the JS, hence the need for this class
}
.displayNone {
  display: none
}
.draggable {
  cursor: move;
}
.fluid {
  max-width: 100%; // For fluid imgs
}
.hidden {
  visibility: hidden;
}
.underline {
  text-decoration: underline;
}

// === Tour application ============================================================================

// === ID styles ===
#addressBox {
  background: url("../../img/tourApp/addressBoxBg.png");
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  height: 6.25em;
  left: 3.125em;
  padding: 0.4375em 0 0 0.625em;
  position: absolute;
  top: 39.5em;
  width: 21.75em;
  @include box-shadow(5px, 5px, 3px, $drop-shadow);
}

#agentInfoTab {
  #agentLogo {
    display: inline-block;
    width: 12.625em;
  }
  #agentPic {
    display: inline-block;
    width: 9.375em;
  }
  .leftCol {
    float: left;
    margin-top: 1.25em;
    text-align: center;
    width: 17em;
    img {
      margin-bottom: 0.5em;
    }
  }
  .rightCol {
    float: left;
    margin-top: 1.25em;
    width: 30em;
    ul {
      li {
        border-bottom: 1px solid $black;
        line-height: 1.75em;
        word-wrap: break-word;
      }
    }
  }
}

#amorTab {
  #amorLabels {
    padding: 0.3125em 0.625em;
    li {
      display: inline-block;
      font-size: 0.875em;
      padding: 0 1em;
      text-align: center;
      width: 7.8125em;
    }
  }
  #amorWrapper {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    height: 23.5em;
    overflow: hidden;
    padding: 0 2.5em 0 0.625em;
    width: 100%;
    #amorChart {
      position: relative;
      .amorRow {
        padding: 1px 0;
        .amorColumn {
          display: inline-block;
          font-size: 0.875em;
          text-align: center;
          width: 7.8125em;
        }
      }
    }
    #scrollbar {
      float: none; // Note: Augments default #scrollbar rule
      left: 100%;
      position: relative;
    }
  }
}

#btnBar {
  height: 1.625em;
  left: 3.1875em;
  line-height: 1.625em; // Centers text vertically, needs to be the same as height
  position: absolute;
  top: 36.75em;
  width: 53.0625em; // Shortend 1px to allow the imgDisplay's border to show
  z-index: 2;
  div {
    font-size: 0.85em;
  }
  div, p {
    display: inline;
  }
  div p:first-child {
    margin-left: 0.625em; // Spaces out the Slideshow and Music labels
  }
  #musicPauseBtn, #musicPlayBtn, #tourPauseBtn, #tourPlayBtn {
    cursor:pointer;
  }
}

#calcTab {
  #calcForm {
    margin: 0 auto;
    width: 46.125em;
    li {
      border-bottom: 1px solid $black;
      line-height: 2.25em;
      input { // Note: Have to use px for the input elements because of some inherit font-size issue?
        display: inline;
        font-size: 16px;
        height: 26px;
        margin-top: 5px;
        width: 150px;
        &.short {
          width: 70px;
        }
        +span {
          left: 23.5em !important;
        }
      }
      label, p {
        display: inline;
        margin-left: 0.5em;
      }
    }
    .rightCol {
      left: 18.75em;
      position: absolute;
    }
    .calcBtn {
      cursor: pointer;
      display: inline;
      height: 1.75em;
      left: 30em;
      line-height: 1.75em;
      margin-top: 0.25em;
      text-align: center;
      width: 7.8125em;
      @include box-shadow(3px, 3px, 2px, $drop-shadow);
    }
  }
}


#contactBox {
  background: url("../../img/tourApp/contactBoxBg.png");
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  height: 6.25em;
  left: 30.25em;
  padding: 0.4375em 0.625em 0 0;
  position: absolute;
  text-align: right;
  top: 39.5em;
  width: 26em;
  @include box-shadow(5px, 5px, 3px, $drop-shadow);
  img { // Agent's picture *if* there is one
    float: left;
    height: 5.75em;
    margin: -0.1875em 0 0 0.25em; // Negitive margin used to move the img back up because of the top padding on the contactBox
  }
}

#imgDisplay {
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  height: 34.375em;
  left: 3.125em;
  overflow: hidden;
  position: absolute;
  top: 4em;
  width: 53.125em;
  >div {
    position: absolute;
  }
  #alertMsg {
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    cursor: pointer;
    margin: -1.5625em 0 0 -6.25em;
    padding: 0.5em;
    left: 50%;
    top: 50%;
    width: 12.5em;
    z-index: 2;
    p {
      font-size: 0.85em;
    }
  }
  #tourImgMask {
    height: 34.375em; // This needs to match the height of the imgDisplay
    width: 53.125em; // This needs to match the width of the imgDisplay
    z-index: 2;
    @include opacity(0);
    .iaPicWrapper {
      cursor:pointer;
      height:34.375em; // This needs to match the height of the imgDisplay
      line-height:34.375em; // This needs to match the height of the imgDisplay
      text-align:center;
      width:53.125em; // This needs to match the width of the imgDisplay
    }
  }
}

#imgName {
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  height: 1.625em;
  position: absolute;
  line-height: 1.625em; // Centers text vertically, needs to be the same as height
  p {
    padding: 0 0.3125em;
  }
  &.imgNamePos {
    right: 19.625em; // This is set from the right because the ImgName obj's changing width would mess up positioning it from the left
    top: 5.0625em;
  }
}

#infoBox {
  cursor: pointer;
  height: 0; // The height of the box has to initially be 0. This is because the text appended into the p element pops open the div and spoils the opening tween if not set to 0
  padding: 0.5em;
  width: 15.625em;
  z-index: 2;
  p {
    font-size: 0.85em;
  }
}

#jsWarning {
  background-color: $red;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}

#loading {
  div~div {
    right: 0; // Move the second mask div to the right side
  }
  img {
    left: 50%;
    margin: -0.4375em 0 0 -4em;
    position: absolute;
    top: 50%;
    z-index: 301;
  }
  .loadingMask {
    height: 46.875em; // Same as tourWrapper height
    position: absolute;
    width: 37.75em; // 1/2 of tourWrapper width plus a 1/4 em to prevent any gap from appearing
    z-index: 300; // Has to be on top of all other elements
  }
}

#nextBtn {
  cursor: pointer;
  left: 63em;
  position: absolute;
  top: 36.75em;
  width: 9.375em; // Width of the btn img, used to constrain the img's size when fluid
  img {
    @include opacity(80);
  }
}

#prevBtn {
  cursor: pointer;
  left: 63em;
  position: absolute;
  top: 3.5625em;
  width: 9.375em;
  img {
    @include opacity(80);
  }
}

#propInfoTab {
  .leftCol {
    float: left;
    margin-right: 2em;
    width: 24em;
    article {
      border-left: 1px solid $black;
      border-top: 1px solid $black;
      height: 25.75em;
      overflow: hidden;
      width: 24em;
      p { // About text for the property info tab
        float: left;
        margin-right: 0.5em;
        padding: 1em 1em 0 1em;
        position: relative;
        width: 21em;
      }
    }
  }
  .rightCol {
    float: left;
    width: 22em;
    div {
      border-left: 1px solid $black;
      border-top: 1px solid $black;
      margin-top: 1.75em;
      padding: 0.5em 0 0 0.5em;
      p {
        line-height: 1.75em;
      }
    }
    ul {
       border-top: 1px solid $black;
       li {
        border-bottom: 1px solid $black;
        line-height: 1.75em;
        word-wrap: break-word;
       }
    }
  }
}

#scrollbar {
  float: left;
  z-index: 2;
  #scrollHandle {
    cursor: pointer;
    height: 1.125em; // Same as the scrollhandle img dimensions
    margin-left: -0.5625em; // Equals half the width of the handle, centers the handle on the scrollbar track
    position: absolute;
    width: 1.125em;
  }
  #scrollTrack {
    background-color: $black;
    position: absolute;
    width: 1px;
  }
  .scrollArrows {
    cursor: pointer;
    height: 1.25em; // Same as the up/down scrollbar arrow img dimensions
    margin-left: -0.6875em; // Equals half the width of the handle, centers the handle on the scrollbar track
    position: absolute;
    width: 1.375em;
  }
}

#shtLogo {
  left: 64em;
  position: absolute;
  top: 40.5em;
  width: 7.8125em;
  @include opacity(66);
  p {
    font-size: 0.85em;
    margin-bottom: 0.25em;
  }
}

#slideMenu {
  height: 31.25em;
  left: 60.5em;
  overflow: hidden;
  position: absolute;
  top: 5.5em;
  width: 14.375em;
}

#slideScrollbar {
  background-color: $black;
  height: 34.375em;
  left: 58.5em;
  position: absolute;
  top: 4em;
  width: 1px;
  .scrollHandle {
    cursor: pointer;
    height: 1.125em; // Same as the scrollhandle img dimensions
    margin-left: -0.5625em; // Equals half the width of the handle, centers the handle on the scrollbar track
    position: absolute;
    width: 1.125em;
  }
}

#tabMenu {
  left: 3.125em;
  position: absolute;
  top: 2em;
  z-index: 2;
  ul {
    font-size: 0.85em;
    li { // The tabs backgrounds are set in the theme stylesheets
      cursor: pointer;
      display: inline;
      margin-right: 0.1875em;
      padding: 0.4375em;
      @include box-shadow(3px, 3px, 2px, $drop-shadow);
    }
    .tabBorder {
      border-top: 1px solid $white;
      border-left: 1px solid $white;
      margin: -1px; // Keeps the border from changing the layout when added/removed
    }
  }
}

#tourWrapper {
  height: 46.875em;
  left: 50%;
  margin: -23.4375em 0 0 -37.5em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 75em;
  @include box-shadow(5px, 5px, 3px, $drop-shadow);
}


// === Class styles ===
.horiIaPic {
  height: auto;
  width: 53.125em; // This needs to match the width of the imgDisplay
  vertical-align: middle;
}

.horiImg {
  height: 34.375em; // This needs to match the height of the imgDisplay
  width: auto;
}

.horiSlide {
  height: auto;
  vertical-align: middle;
  width: 9.125em;
}

.iaBtns {
  cursor: pointer;
  position: absolute;
}

.infoText {
  line-height: 1.25em; // this goes in the tab section
}

.loadingMask {
  background-color: $black;
}

.loadingSlide {
  text-align: center;
  vertical-align: middle;
}

.slide {
  background-color: $slide-bg;
  border: 0.125em solid $white;
  height: 6em;
  line-height: 5.75em; // Slide height minus the borders
  position: absolute;
  text-align: center;
  width: 9.375em;
}

.stdIaPic {
  height: auto;
  width: 53.125em; // This needs to match the width of the imgDisplay
  vertical-align: bottom;
}

.stdImg {
  height: auto;
  width: 63.75em; // This needs to be 20% larger than the imgDisplay width so the img has room to tween
}

.stdSlide { // Height and width of the slide imgs equals the h&w of the slide minus the slide's borders
  height: 5.75em;
  width: 9.125em;
}

.tabContentBox { // All tab menu pages are children of this class
  height: 29.375em;
  left: 50%;
  margin: -14.6875em 0 0 -24.0625em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 48.125em;
}

.tabHeader {
  border-bottom: 1px solid $black;
  font-size: 1.75em;
  line-height: 1.5em; // em cascade
}

.tabHeaderAlt {
  font-size: 1.75em;
  line-height: 1.5em; // em cascade
}

.vertIaPic {
  height: 34.375em; // This needs to match the height of the imgDisplay
  width: auto;
  vertical-align: bottom;
}

.vertImg {
  height: auto;
  width: 53.125em; // This needs to match the width of the imgDisplay
}

.vertSlide {
  height: 5.75em;
  width: auto;
}


// === Media queries ===============================================================================
// Note: Height queries are used to keep the tour from needing to be scrolled vertically
// Note: Some elements at certain break points need minor positioning tweaks to align correctly
@media 
only screen and (min-width:1151px) and (max-width:1220px),
only screen and (min-height:725px) and (max-height:770px) {
  body {
    font-size: 15.1px; // 15.1 is used because using 15 even causes an img artifact in Chrome on the bottom of the imgDisplay?
  }
  #calcTab li input {
    font-size: 15px;
    height: 24px;
    margin-top: 5px;
    width: 135px;
    &.short {
      width: 65px;
    }
  }
}

@media
only screen and (min-width:1081px) and (max-width:1150px),
only screen and (min-height:675px) and (max-height:724px) {
  body {
    font-size: 14px;
  }
  #calcTab li input {
    font-size: 14px;
    height: 23px;
    margin-top: 4px;
    width: 131px;
    &.short {
      width: 61px;
    }
  }
}

@media
only screen and (min-width:1001px) and (max-width:1080px),
only screen and (min-height:635px) and (max-height:674px) {
  body {
    font-size: 13.1px; // 13.1 is used because using 13 even causes an img artifact in Chrome on the bottom of the imgDisplay?
  }
  #calcTab li input {
    font-size: 13px;
    height: 21px;
    margin-top: 4px;
    width: 121px;
    &.short {
      width: 57px;
    }
  }

}

@media
only screen and (min-width:926px) and (max-width:1000px),
only screen and (min-height:580px) and (max-height:634px) {
  body {
    font-size: 12px;
  }
  #btnBar {
    left: 3.25em;
    top: 36.8125em;
  }
  #calcTab li input {
    font-size: 12px;
    height: 20px;
    margin-top: 3px;
    width: 112px;
    &.short {
      width: 52px;
    }
  }
}

@media
only screen and (min-width:851px) and (max-width:925px),
only screen and (min-height:535px) and (max-height:579px) {
  body {
    font-size:11px;
  }
  #calcTab li input {
    font-size: 11px;
    height: 18px;
    margin-top: 3px;
    width: 102px;
    &.short {
      width: 48px;
    }
  }
  .iaBtns {
    width:22px;
  }
}

@media
only screen and (min-width:776px) and (max-width:850px),
only screen and (min-height:490px) and (max-height:534px) {
  body {
    font-size: 10px;
  }
  #btnBar {
    top: 36.8125em;
  }
  #calcTab li input {
    font-size: 10px;
    height: 16px;
    margin-top: 3px;
    width: 93px;
    &.short {
      width: 44px;
    }
  }
  .iaBtns {
    width: 22px;
  }
}

@media
only screen and (min-width:701px) and (max-width:775px),
only screen and (min-height:445px) and (max-height:489px) {
  body {
    font-size: 9px;
  }
  #calcTab li input {
    font-size: 9px;
    height: 15px;
    margin-top: 2px;
    width: 84px;
    &.short {
      width: 39px;
    }
  }
  .iaBtns {
    width: 20px;
  }
}

@media
only screen and (max-width:700px),
only screen and (max-height:444px){
  body {
    font-size: 8px;
  }
  #calcTab li input {
    font-size: 8px;
    height: 13px;
    margin-top: 2px;
    width: 75px;
    &.short {
      width: 35px;
    }
  }
  .iaBtns {
    width: 20px;
  }
}

// *** tabs are moving when tabBorder is applied?
// *** IE support import, add ltie9 class?