/* line 21, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 30, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

/* line 33, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
ol, ul {
  list-style: none; }

/* line 36, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

/* line 44, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.clearfix {
  zoom: 1; }

/* line 47, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../../fonts/OpenSans-Regular-webfont.eot");
  src: url("../../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 106, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
a {
  border: none;
  color: white;
  outline: none;
  text-decoration: none; }

/* line 112, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
audio {
  width: 0;
  height: 0; }

/* line 116, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
body {
  background-color: #444444;
  color: white;
  font-family: "open_sansregular", Verdana, Arial, sans;
  font-size: 100%; }

/* line 126, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.clickable {
  cursor: pointer; }

/* line 129, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.displayNone {
  display: none; }

/* line 132, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.draggable {
  cursor: move; }

/* line 135, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.fluid {
  max-width: 100%; }

/* line 138, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.hidden {
  visibility: hidden; }

/* line 141, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.underline {
  text-decoration: underline; }

/* line 148, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#addressBox {
  background: url("../../img/tourApp/addressBoxBg.png");
  border-left: 1px solid white;
  border-top: 1px solid white;
  height: 6.25em;
  left: 3.125em;
  padding: 0.4375em 0 0 0.625em;
  position: absolute;
  top: 39.5em;
  width: 21.75em;
  -webkit-box-shadow: 5px 5px 3px #111111;
  -moz-box-shadow: 5px 5px 3px #111111;
  box-shadow: 5px 5px 3px #111111; }

/* line 161, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#btnBar {
  height: 1.625em;
  left: 3.1875em;
  line-height: 1.625em;
  position: absolute;
  top: 36.75em;
  width: 53.0625em;
  z-index: 2; }
  /* line 169, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #btnBar div {
    font-size: 0.85em; }
  /* line 172, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #btnBar div, #btnBar p {
    display: inline; }
  /* line 175, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #btnBar div p:first-child {
    margin-left: 0.625em; }
  /* line 178, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #btnBar #musicPauseBtn, #btnBar #musicPlayBtn, #btnBar #tourPauseBtn, #btnBar #tourPlayBtn {
    cursor: pointer; }

/* line 183, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#contactBox {
  background: url("../../img/tourApp/contactBoxBg.png");
  border-left: 1px solid white;
  border-top: 1px solid white;
  height: 6.25em;
  left: 30.25em;
  padding: 0.4375em 0.625em 0 0;
  position: absolute;
  text-align: right;
  top: 39.5em;
  width: 26em;
  -webkit-box-shadow: 5px 5px 3px #111111;
  -moz-box-shadow: 5px 5px 3px #111111;
  box-shadow: 5px 5px 3px #111111; }
  /* line 195, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #contactBox img {
    float: left;
    height: 5.75em;
    margin: -0.1875em 0 0 0.25em; }

/* line 202, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#imgDisplay {
  border-left: 1px solid white;
  border-top: 1px solid white;
  height: 34.375em;
  left: 3.125em;
  overflow: hidden;
  position: absolute;
  top: 4em;
  width: 53.125em; }
  /* line 211, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #imgDisplay > div {
    position: absolute; }
  /* line 214, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #imgDisplay #alertMsg {
    border-left: 1px solid white;
    border-top: 1px solid white;
    cursor: pointer;
    margin: -1.5625em 0 0 -6.25em;
    padding: 0.5em;
    left: 50%;
    top: 50%;
    width: 12.5em;
    z-index: 2; }
    /* line 224, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    #imgDisplay #alertMsg p {
      font-size: 0.85em; }
  /* line 228, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #imgDisplay #tourImgMask {
    height: 34.375em;
    width: 53.125em;
    z-index: 2;
    filter: alpha(opacity=0);
    opacity: 0; }
    /* line 233, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    #imgDisplay #tourImgMask .iaPicWrapper {
      cursor: pointer;
      height: 34.375em;
      line-height: 34.375em;
      text-align: center;
      width: 53.125em; }

/* line 243, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#imgName {
  border-left: 1px solid white;
  border-top: 1px solid white;
  height: 1.625em;
  position: absolute;
  line-height: 1.625em; }
  /* line 249, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #imgName p {
    padding: 0 0.3125em; }
  /* line 252, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #imgName .imgNamePos {
    right: 19.625em;
    top: 5.0625em; }

/* line 258, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#infoBox {
  cursor: pointer;
  height: 0;
  padding: 0.5em;
  width: 15.625em;
  z-index: 2; }
  /* line 264, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #infoBox p {
    font-size: 0.85em; }

/* line 269, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#jsWarning {
  background-color: red;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center; }

/* line 278, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#loading div ~ div {
  right: 0; }
/* line 281, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#loading img {
  left: 50%;
  margin: -0.4375em 0 0 -4em;
  position: absolute;
  top: 50%;
  z-index: 301; }
/* line 288, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#loading .loadingMask {
  height: 46.875em;
  position: absolute;
  width: 37.75em;
  z-index: 300; }

/* line 296, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#nextBtn {
  cursor: pointer;
  left: 63em;
  position: absolute;
  top: 36.75em;
  width: 9.375em; }
  /* line 302, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #nextBtn img {
    filter: alpha(opacity=80);
    opacity: 0.8; }

/* line 307, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#prevBtn {
  cursor: pointer;
  left: 63em;
  position: absolute;
  top: 3.5625em;
  width: 9.375em; }
  /* line 313, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #prevBtn img {
    filter: alpha(opacity=80);
    opacity: 0.8; }

/* line 318, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#scrollTrack {
  background-color: black;
  position: absolute;
  width: 1px; }

/* line 324, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#shtLogo {
  left: 64em;
  position: absolute;
  top: 40.5em;
  width: 7.8125em;
  filter: alpha(opacity=66);
  opacity: 0.66; }
  /* line 330, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #shtLogo p {
    font-size: 0.85em;
    margin-bottom: 0.25em; }

/* line 336, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#slideMenu {
  height: 31.25em;
  left: 60.5em;
  overflow: hidden;
  position: absolute;
  top: 5.5em;
  width: 14.375em; }

/* line 345, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#slideScrollbar {
  background-color: black;
  height: 34.375em;
  left: 58.5em;
  position: absolute;
  top: 4em;
  width: 1px; }

/* line 354, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#tabMenu {
  left: 3.125em;
  position: absolute;
  top: 2em;
  z-index: 2; }
  /* line 359, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #tabMenu ul {
    font-size: 0.85em; }
    /* line 361, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    #tabMenu ul li {
      cursor: pointer;
      display: inline;
      margin-right: 0.1875em;
      padding: 0.4375em;
      -webkit-box-shadow: 3px 3px 2px #111111;
      -moz-box-shadow: 3px 3px 2px #111111;
      box-shadow: 3px 3px 2px #111111; }
    /* line 368, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    #tabMenu ul .tabBorder {
      border-top: 1px solid white;
      border-left: 1px solid white;
      margin: -1px; }

/* line 376, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
#tourWrapper {
  height: 46.875em;
  left: 50%;
  margin: -23.4375em 0 0 -37.5em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 75em;
  -webkit-box-shadow: 5px 5px 3px #111111;
  -moz-box-shadow: 5px 5px 3px #111111;
  box-shadow: 5px 5px 3px #111111; }

/* line 389, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.horiIaPic {
  height: auto;
  width: 53.125em;
  vertical-align: middle; }

/* line 395, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.horiImg {
  height: 34.375em;
  width: auto; }

/* line 400, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.horiSlide {
  height: auto;
  vertical-align: middle;
  width: 9.125em; }

/* line 406, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.iaBtns {
  cursor: pointer;
  position: absolute; }

/* line 411, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.infoText {
  line-height: 1.25em; }

/* line 415, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.loadingMask {
  background-color: black; }

/* line 419, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.loadingSlide {
  text-align: center;
  vertical-align: middle; }

/* line 424, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.scrollHandle {
  cursor: pointer;
  height: 1.125em;
  margin-left: -0.5625em;
  position: absolute;
  width: 1.125em; }

/* line 432, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.slide {
  background-color: #333;
  border: 0.125em solid white;
  height: 6em;
  line-height: 5.75em;
  position: absolute;
  text-align: center;
  width: 9.375em; }

/* line 442, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.stdIaPic {
  height: auto;
  width: 53.125em;
  vertical-align: bottom; }

/* line 448, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.stdImg {
  height: auto;
  width: 63.75em; }

/* line 453, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.stdSlide {
  height: 5.75em;
  width: 9.125em; }

/* line 459, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.tabContentBox {
  height: 29.375em;
  left: 50%;
  margin: -14.6875em 0 0 -24.0625em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 48.125em; }
  /* line 467, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox #agentLogo {
    display: inline-block;
    width: 12.625em; }
  /* line 471, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox #agentPic {
    display: inline-block;
    width: 9.375em; }
  /* line 475, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox #amorLabels {
    padding: 0.3125em 0.625em; }
    /* line 477, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox #amorLabels li {
      display: inline-block;
      font-size: 0.875em;
      padding: 0 1em;
      text-align: center;
      width: 7.8125em; }
  /* line 485, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox #amorWrapper {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 23.5em;
    overflow: hidden;
    padding: 0 2.5em 0 0.625em;
    width: 100%; }
    /* line 492, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox #amorWrapper #amorChart {
      position: relative; }
      /* line 494, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox #amorWrapper #amorChart .amorRow {
        padding: 1px 0; }
        /* line 496, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
        .tabContentBox #amorWrapper #amorChart .amorRow .amorColumn {
          display: inline-block;
          font-size: 0.875em;
          text-align: center;
          width: 7.8125em; }
    /* line 504, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox #amorWrapper #scrollbar {
      float: left;
      left: 100%;
      position: relative;
      z-index: 2; }
      /* line 509, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox #amorWrapper #scrollbar .scrollArrows {
        cursor: pointer;
        height: 1.25em;
        margin-left: -0.6875em;
        position: absolute;
        width: 1.375em; }
  /* line 518, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox #tabCalc {
    margin: 0 auto;
    width: 46.125em; }
    /* line 521, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox #tabCalc li {
      border-bottom: 1px solid black;
      line-height: 2.25em; }
      /* line 524, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox #tabCalc li input {
        display: inline;
        font-size: 16px;
        height: 26px;
        margin-top: 5px;
        width: 150px; }
        /* line 530, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
        .tabContentBox #tabCalc li input.short {
          width: 70px; }
      /* line 534, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox #tabCalc li input + span {
        left: 23.5em; }
      /* line 537, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox #tabCalc li label, .tabContentBox #tabCalc li p {
        display: inline;
        margin-left: 0.5em; }
    /* line 542, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox #tabCalc .tabCalcRightCol {
      left: 18.75em;
      position: absolute; }
    /* line 546, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox #tabCalc .tabCalcBtn {
      cursor: pointer;
      display: inline;
      height: 1.75em;
      left: 30em;
      line-height: 1.75em;
      margin-top: 0.25em;
      text-align: center;
      width: 7.8125em;
      -webkit-box-shadow: 3px 3px 2px #111111;
      -moz-box-shadow: 3px 3px 2px #111111;
      box-shadow: 3px 3px 2px #111111; }
  /* line 558, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox .tabImgs {
    float: left;
    margin-top: 1.25em;
    text-align: center;
    width: 17em; }
    /* line 563, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox .tabImgs img {
      margin-bottom: 0.5em; }
  /* line 567, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox .tabInfo {
    float: left;
    margin-top: 1.25em;
    width: 30em; }
    /* line 572, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox .tabInfo ul li {
      border-bottom: 1px solid black;
      line-height: 1.75em;
      word-wrap: break-word; }
  /* line 579, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox .tabHeader {
    border-bottom: 1px solid black;
    font-size: 1.75em;
    line-height: 1.5em; }
  /* line 584, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox .tabHeaderAlt {
    font-size: 1.75em;
    line-height: 1.5em; }
  /* line 588, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox .tabLeftCol {
    float: left;
    margin-right: 2em;
    width: 24em; }
    /* line 592, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox .tabLeftCol article {
      border-left: 1px solid black;
      border-top: 1px solid black;
      height: 25.75em;
      overflow: hidden;
      width: 24em; }
      /* line 598, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox .tabLeftCol article p {
        float: left;
        margin-right: 0.5em;
        padding: 1em 1em 0 1em;
        position: relative;
        width: 21em; }
  /* line 607, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  .tabContentBox .tabRightCol {
    float: left;
    width: 22em; }
    /* line 610, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox .tabRightCol div {
      border-left: 1px solid black;
      border-top: 1px solid black;
      margin-top: 1.75em;
      padding: 0.5em 0 0 0.5em; }
      /* line 615, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox .tabRightCol div p {
        line-height: 1.75em; }
    /* line 619, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    .tabContentBox .tabRightCol ul {
      border-top: 1px solid black; }
      /* line 621, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
      .tabContentBox .tabRightCol ul li {
        border-bottom: 1px solid black;
        line-height: 1.75em;
        word-wrap: break-word; }

/* line 630, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.vertIaPic {
  height: 34.375em;
  width: auto;
  vertical-align: bottom; }

/* line 636, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.vertImg {
  height: auto;
  width: 53.125em; }

/* line 641, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
.vertSlide {
  height: 5.75em;
  width: auto; }

@media only screen and (min-width: 1151px) and (max-width: 1220px), only screen and (min-height: 725px) and (max-height: 770px) {
  /* line 653, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  body {
    font-size: 15.1px; }

  /* line 656, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
  #tabCalc li input {
    font-size: 15px;
    height: 24px;
    margin-top: 5px;
    width: 135px; }
    /* line 661, D:\Apache2\htdocs\spiffyHomeTours\public\css\tourApp\tour-ex.scss */
    #tabCalc li input.short {
      width: 65px; } }
